__pycache__
models/training/*.*
models/others/facenet-master_recognition
models/others/tensorflow_mobilenetssd_detection
models/others/vggface_recognition
models/others/*.zip
datasets/*
greetingsystem/*
*.avi
models/encoding/facenet_20180402-114759/*
